<%- include('../partials/loginlayout')%>

<h3> View Inventory</h3>
<form id='searchform' action="/inventory/view/search" method="POST">

    <%- include('../partials/viewitemtypeselect')%>
    </br></br>
    <table>
        <tr>
            <td><label>From Date:</label></td>
            <td><input id="fromdate" name="fromdate" type="date" /></td>
        </tr>
        <tr>
            <td><label>To Date:</label></td>
            <td><input id="todate" name="todate" type="date" /></td>
        </tr>
    </table>
    </br>
    <%- include('../partials/searchpagination')%>
    <button id='btnsubmit' name='btnsubmit' type="submit">Search</button>
    </br>

</form>
<table class="table" >
    <tr style="font-weight:bold">
        <td>IMEI</td>
        <td>Model</td>
        <td>MRP</td>
        <td>Count</td>
        <td>Shop</td>
        <td>User</td>
    </tr>
    <%if(typeof(result) == 'undefined');else{for(var i=0; i < result.length; i++) { %>
    <tr>
        <td><%=result[i].IMEI%></td>
        <td><%=result[i].model%></td>
        <td><%=result[i].mrp%></td>
        <td><%=result[i].count%></td>
        <td><%=result[i].shop%></td>
        <td><%=result[i].user%></td>
    </tr>
    <%}}%>
</table>
