<%- include('../partials/loginlayout')%>

<h2> View Inventory</h2>

<form action="/inventory/view/search" method="POST">
    
    <%- include('../partials/viewitemtypeselect')%>
    </br><label>From Date:</label>
    <input id="fromdate" name="fromdate" type="date" />
    </br>
    <label>To Date:</label>
    <input id="todate" name="todate" type="date" />
    </br>
    <button type="submit">Search</button>
</form>
</br>

<%=// result = locals.result ? result : '' %>
<table class="table">
    <tr>
        <td>IMEI</td>
        <td>Model</td>
        <td>MRP</td>
        <td>Count</td>
        <td>Shop</td>
        <td>User</td>
    </tr>
    <%if(typeof(result) == 'undefined');else{for(var i=0; i < result.length; i++) { %>
    <tr>
        <td><%=result[i].IMEI%></td>
        <td><%=result[i].model%></td>
        <td><%=result[i].mrp%></td>
        <td><%=result[i].count%></td>
        <td><%=result[i].shop%></td>
        <td><%=result[i].user%></td>
    </tr>
    <%}}%>
</table>