<%- include('../partials/loginlayout')%>

<h2>New bill page</h2>
<form action='/bills/newbill' method="POST">
    <%- include('../partials/itemtypeselect')%>
    <script>
        document.getElementById("count").disabled = true;
    </script>
    <button>AddToBill</button>
</form>

<%= messages.length?messages:''  %>

<form action="/bills/sell" method="POST"></br>
    <label>BillNumber:</label>
    <input id="billnum" name="billnum" value=<%=billnumber%> disabled></br>
    <label>Enter Cutomer Name</label><input id="custname" name="custname" type="text" placeholder="Enter Name" /></br>
    <label>Enter Cutomer Contact</label><input id="custcontact" name="custcontact" type="text"
        placeholder="Enter Contact" /></br>
    <%=// result = locals.result ? result : '' %>
    <table class="table">
        <tr>
            <td>IMEI</td>
            <td>Model</td>
            <td>MRP</td>
            <td>Discount</td>
            <td>SellingPrice</td>
        </tr>
        <%//if(typeof(result[0])== null) result.length=0;%>
        <%if(typeof(result) == 'undefined');else{for(var i=0; i < result.length; i++) { %>
        <tr>
            <td><input name=<%='IMEI'+i %> id=<%='IMEI'+i %> type='text' value=<%=result[i].IMEI%> /></td>
            <td><%=result[i].model%></td>
            <td><%=result[i].mrp%></td>
            <td><input name='discount' id='discount' type='text' value=<%=result[i].mrp%> /></td>
            <td><input name='sellingprice' type='text' required /></td>
        </tr>
        <% }} %>
    </table>
    </br><button type="submit">Sell And View Bill</button>
</form>