<%- include('../partials/loginlayout')%>

<h3>New bill page</h3>
<form action='/bills/newbill' method="POST">
    <input type="radio" name="type" value="mobile" checked onchange="
        javascript:
        document.getElementById('IMEI').hidden=!this.checked;
        document.getElementById('model').hidden=this.checked;
        "> Mobile
    <input type="radio" name="type" value="spare" onchange="
        javascript:
        document.getElementById('IMEI').hidden=this.checked;
        document.getElementById('model').hidden=!this.checked;
        "> Spare
    <input type="radio" name="type" value="ec" onchange="
        javascript:
        document.getElementById('IMEI').hidden=!this.checked;
        document.getElementById('model').hidden=this.checked;
        "> EC<br /><br />
    <input id="IMEI" name="IMEI" type="text" placeholder="Enter IMEI" />
    <input id="model" name="model" type="text" placeholder="Enter Model" hidden/>
    <button>AddToBill</button>
</form>

<%= messages.length?messages:''  %>

<form action="/bills/sell" method="POST"></br>
    <table>
        <tr>
            <td><label>BillNumber</label></td>
            <td><input id="billnum" name="billnum" value=<%=billnumber%> disabled></td>
        </tr>
        <tr>
            <td><label>Enter Cutomer Name</label></td>
            <td><input id="custname" name="custname" type="text" placeholder="Enter Name" /></td>
        </tr>
        <tr>
            <td><label>Enter Cutomer Contact</label></td>
            <td><input id="custcontact" name="custcontact" type="text" placeholder="Enter Contact" /></td>
        </tr>
    </table>

    <table class="table">
        <tr style="font-weight:bold">
            <td>IMEI</td>
            <td>Model</td>
            <td>MRP</td>
           <!-- <td>Discount</td>-->
            <td>SellingPrice</td>
        </tr>
        <%//if(typeof(result[0])== null) result.length=0;%>
        <%if(typeof(result) == 'undefined');else{for(var i=0; i < result.length; i++) { %>
        <tr>
            <td><input name=<%='IMEI'+i %> id=<%='IMEI'+i %> type='text' value=<%=result[i].IMEI%> /></td>
            <td><%=result[i].model%></td>
            <td><%=result[i].mrp%></td>
            <!--<td><input name='discount' id='discount' type='text' value=<%=//result[i].mrp%> /></td>-->
            <td><input name='sellingprice' type='text' required /></td>
        </tr>
        <% }} %>
    </table>
    </br><button type="submit">Sell And View Bill</button>
</form>