<%- include('../partials/loginlayout')%>
<%//if(typeof(result) == 'undefined')%>

<h2>View Single bill page</h2>
<label>BillNo: </label><label><%=result.billnumber%></label></br>
<label>IMEI:</label><label><%=result.IMEI%></label></br>
<label>Model:</label><label><%=result.model%></label></br>
<label>MRP:</label><label><%=result.mrp%></label></br>
<label>Discount:</label><label><%=result.mrp - result.sellingprice%></label></br>
<label>SellingPrice:</label><label><%=result.sellingprice%></label></br>
