<%- include('../partials/loginlayout')%>

<h3> View Bills</h3>

<form action="/bills/view/search" method="POST">
    <%- include('../partials/viewitemtypeselect')%>
    <input id="billnumber" name="billnumber" type="text" placeholder="Enter BillNumber" />
    </br></br>
    <table>
        <tr>
            <td><label>From Date:</label></td>
            <td><input id="fromdate" name="fromdate" type="date" /></td>
        </tr>
        <tr>
            <td><label>To Date:</label></td>
            <td><input id="todate" name="todate" type="date" /></td>
        </tr>
    </table></br>
    <button type="submit">Search</button>
</form></br>

<%- include('../partials/searchpagination')%>
<label>Total Sold Value: Rs</label>
<label id='total'>
    <%if(typeof(result) != 'undefined'){total=0; for(var i=0; i < result.length; i++) total+=result[i].sellingprice; %>
    <label>
        <%=total%>
    </label>
    <%} %>
</label>
<table class="table">
    <tr style="font-weight:bold">
        <td>BillNo</td>
        <td>IMEI</td>
        <td>Model</td>
        <td>MRP</td>
        <td>Discount</td>
        <td>SellingPrice</td>
        <td>Shop</td>
        <td>User</td>
    </tr>
    <%if(typeof(result) == 'undefined');else{for(var i=0,total=0; i < result.length; i++) {total+=result[i].sellingprice; %>
    <tr>
        <td><%=result[i].billnumber%></td>
        <td><%=result[i].IMEI%></td>
        <td><%=result[i].model%></td>
        <td><%=result[i].mrp%></td>
        <td><%if(result[i].type!='ec'){%>
            <%=result[i].mrp - result[i].sellingprice%>
            <%}%>        
        </td>
        <td><%=result[i].sellingprice%></td>
        <td><%=result[i].shop%></td>
        <td><%=result[i].user%></td>
    </tr>

    <%}}%>
    <script>document.getElementById('total').innerHTML = result[0].sellingprice;</script>
</table>